body {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.pageHeader {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: rgb(44, 44, 44);
    width: 100%;
    padding: 5px 0;
    margin-bottom: 25px;
}

.pageHeader p {
    margin-left: 50px;
}

/* Containers */
.grid {
    display: grid;
    padding: 50px;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 420px 420px;
    grid-gap: 60px;
    justify-content: center;
}

.bankContainer, .workContainer, .listContainer, .laptopContainer {
    background-color: rgba(165, 165, 165, 0.096);
    border-radius: 15px;
    box-shadow: 5px 10px 5px rgba(112, 112, 112, 0.171);
}

.containerHeader {
    font-weight: bolder;
    font-size: 40px;
    margin-left: 50px;
}

/* Buttons */
.btn {
    width: 90%;
    margin: 5%;
    height: 50px;
    background-color: rgba(9, 111, 179, 0.356);
    border: white;
    border-radius: 10px;
    box-shadow: 3px 5px 2px rgba(112, 112, 112, 0.171);
    cursor: pointer;  
    font-size: 20px;  
    font-weight: bold;
}

.btn:hover {
    background-color: rgba(5, 48, 77, 0.356);
}

.btn:active {
    box-shadow: none;
}

.workContainerBtns {
    display: flex;
    margin-top: 120px;
}

.bankBtn, .workBtn {
    width: 45%;
    margin-top: -110px;
}

/* Bank Container */
.bankContainer {
    grid-column: 1;
    grid-row: 1;
}

.balance {
    padding: 0 30px;
    margin: 50px 0;
}

.balance p:last-of-type::before, #pcPrice::before, #maxLoan::before {
    content: "€ ";
}

.balance p:last-of-type {
    float: right;
    margin-top: -42px;
}

/* Work Container */
.workContainer {
    grid-column: 2;
    grid-row: 1;
}

/* Loan popup */
.loanPopup {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 10px 5px rgba(112, 112, 112, 0.171);    
    width: 600px;
    margin-top: -50px;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    transition: .2s ease-in-out;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
}

.loanPopup p:first-of-type {
    font-size: 30px;
    font-weight: bold;
}

.loanPopup button {
    float: left;
    font-weight: bolder;
    cursor: pointer;
}

.popupOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.144);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease-in-out;
}

.popupOpen {
    opacity: 1;
    pointer-events: all;
}

/* List Container */
.listContainer {
    grid-column: 3;
    grid-row: 1;
}

.listContainerFeatures {
    width: 80%;
    margin-left: 10%;
    font-size: 17px;
}

.listContainerFeatures p:first-of-type {
    font-weight: bold;
    font-size: 22px;
}

.listContainerFeatures p {
    margin: 0;
}

/* Dropdown menu */
.dropdownBtn {
    width: 80%;
    margin-left: 10%;
    height: 50px;
    /* overflow: hidden; */
}

.dropdownMenu {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 2px rgba(112, 112, 112, 0.171);
    opacity: 0;
    margin-left: 35px;
    width: 270px;
    padding-left: 10px;
    transform: translateY(10px);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    pointer-events: none;
}

.menuOpen {
    transform: translateY(-10px);
    opacity: 1;
    pointer-events: all;
}

.dropdownMenu p {
    width: 90%;
    padding: 5px;
    background-color: rgba(9, 111, 179, 0.356);
    border: white;
    border-radius: 10px;
    box-shadow: 3px 5px 2px rgba(112, 112, 112, 0.171);
    cursor: pointer;
}

.dropdownMenu p:hover {
    background-color: rgba(5, 48, 77, 0.356);

}

/* Laptop Container */
.laptopContainer {
    grid-column: 1 / 4;
    grid-row: 2;
}

.laptopImg {
    float: left;
    height: 250px;
    margin: 75px 50px;
}

.laptopInfo {
    float: left;
    height: 100%;
    width: 350px;
    margin-left: 20px;
}

.laptopInfo p:first-of-type {
    font-weight: bolder;
    font-size: 40px;
}

.laptopCost {
    float: right;
    width: 270px;
    height: 100%;
    text-align: center;
    margin-right: 50px;
}

.laptopCost p {
    font-size: 80px;
}

.laptopCost button {
    font-weight: bolder;
}